@model Hiring_Projet.Models.Recruteur

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recruteur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_recruteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_recruteur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_recruteur }) |
    @Html.ActionLink("Back to List", "Index")
</p>
